@font-face {
  font-family: 'Everyday';
  src: url('Everyday-Trial-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Сброс стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Основные стили */
body {
  font-family: 'Everyday', Arial, sans-serif;
  line-height: 1.05;
  background-color: #fff;
  background-image: url('bg-desktop.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

/* Шапка */
header {
  color: #000;
  padding: 25px 65px 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  font-size: 2.5vw;
}

header a {
  color: black;
  text-decoration: none;
  transition: color 0.2s;
  display: block;
}

header a:hover {
  text-decoration: underline;
}

/* Основной контент */
main {
  min-height: calc(100vh - 85px);
  margin: 0 auto;
  padding: 0 65px 95px;
  font-size: 3.5vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

footer {
  display: none;
}

@media (max-width: 1300px) {
  header {
    font-size: 3.2vw;
  }
  main {
    font-size: 4.5vw;
  }
}

@media (max-width: 1024px) {
  header {
    font-size: 3.9vw;
  }
  main {
    padding: 0 65px 65px;
    font-size: 5.5vw;
  }
}

@media (max-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 25px 30px;
    font-size: 42px;
    height: auto;
  }

  /* Отступ сверху, чтобы контент не прятался под шапкой */
  body {
    padding-top: 60px;
    background-image: none;
  }

  main {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: calc(25vh - 70px);
    padding-bottom: calc(120vw + 50px);
    /* font-size: 7vw; */
    font-size: 35px;
    justify-content: flex-start;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 140vw;
    max-height: 700px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    pointer-events: none;
    background-image: url(bg-mobile.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
